.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #202020;
    font-size: 50px;
}

h2 {
    color: #202020;
    margin-top: 20px;
}

span {
    margin: 12px 0;
    display: flex;
    text-align: center;
}

.area-input {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-input input {
    background-color: #DCDCDC;
    color: #202020;
    font-size: 16px;
    height: 46px;
    width: 100%;
    margin-bottom: 12px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: all ease 0.2s;
}

.area-input input::placeholder {
    color: #202020;
}

.area-input input:hover {
    background-color: rgb(220, 220, 220, 0.8);
}

.area-input button {
    background-color: #1a63e0;
    color: white;
    height: 46px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    transition: all ease 0.2s;
}

.area-input button:hover {
    background-color: rgb(26, 99, 224, 0.8);
}

/* When the screen size is less than 500px */
@media (max-width: 500px) {
  .area-input {
    width: 300px;
  }
}